:root {
  --white: #ffffff;
  --stone-100: #f3e6d8;
  --stone-150: #e4ded8;
  --stone-600: #5f574e;
  --stone-900: #302d2c;
  --brown-800: #854632;
  --rose-800: #7b284f;
  --rose-50: #fff5fa;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: var(--stone-600);
}

ul li::marker,
ol li::marker {
  color: var(--rose-800);
}

ul li::marker {
  font-size: 0.8em;
}

.container {
  background-color: var(--white);
}

.heading {
  font-family: "Young Serif", sans-serif;
  line-height: 1;
  color: var(--brown-800);
  font-weight: 400;
  font-size: 1.8em;
  margin-bottom: 20px;
}

article {
  padding: 0 35px;
}

.banner {
  width: 100%;
  height: 200px;
  background-image: url('./assets/images/image-omelette.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}

header {
  margin-bottom: 20px;
}

.header-title {
  font-size: 2em;
  color: var(--stone-900);
}

.prep-time {
  background-color: var(--rose-50);
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 1.1em;
}

.prep-time h2 {
  color: var(--rose-800);
  font-family: "Outfit", sans-serif;
  font-size: 1.2em;
  margin-bottom: 10px;
  font-weight: 600;
}

.prep-time ul {
  padding-left: 25px;
}

.prep-time li {
  padding: 5px 0 5px 20px;
}

.ingredients {
  border-bottom: 1px solid var(--stone-150);
  margin-bottom: 40px;
}

.ingredients ul {
  padding: 0 0 25px 25px;
}

.ingredients li {
  padding: 5px 0 5px 20px;
  font-size: 1.1em;
}

.instructions {
  border-bottom: 1px solid var(--stone-150);
  margin-bottom: 40px;
}

.instructions ol {
  padding: 0 0 20px 25px;
}

.instructions li::marker {
  font-weight: 700;
  color: var(--brown-800);
}

.instructions li {
  padding: 0 0 10px 20px;
}

.nutrition p {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid var(--stone-150);
}

tr:last-of-type {
  border: none;
}

td {
  padding: 10px;
}

tr td:first-of-type {
  padding-left: 30px;
}

tr td:last-of-type {
  color: var(--brown-800);
  font-weight: 700;
}

.nutrition {
  margin-bottom: 20px;
}